/*
Custom Css
*/

.product-card {
    transition: all ease-in-out;
    transition-duration: .2s;
}

.product-card:hover, .product-card:active {
    box-shadow: 0 0 30px 0 rgba(0,0,0,0.75);
    scale: 102%;
}